.attribute-name {
  font-size: 16px;
  font-weight: bold;
}

.attribute-values-container {
  gap: 1rem;
}

/* ========================================== */

.fields-group-container {
  /* display: flex;
  flex-direction: column;
  width: 100% */
}

.subfield-container {
  background-color: #eee;
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem;
  /* flex-grow: 1; */
}

.subfield-container--image {
  min-height: 120px;
}

.subfield-name {
  font-weight: bold;
}

.subfield-container:last-child {
  margin-bottom: 0;
}

/* ========================================== */




.value-container--image {
  min-height: 120px;
}






.remove-value {
  position :absolute;
  right: 0;
  top: 0;
}

.attribute-button-reset-value {
  border: solid 1px #ccc;
  background-color: #fff;
  border-radius: 1rem 0 0 1rem;
  padding: 0 1rem;
}

.attribute-button-reset-value.attribute-button-reset-value--image {
  position: absolute;
  right: 4px;
  top: 4px;
  border-radius: 4px;
  padding: 0.5rem;
}


/* next element of type input */
.attribute-button-reset-value + input {
  border-radius: 0 1rem 1rem 0;
}

.attribute-image-container {
  position: relative;
}

.wp-editor-wrap {
  width: 100%;
}

/* ============================================ */



/* .button-choose-image {
  position: absolute;
  top: 4px;
  left: 4px;
} */


/* ============================================ */


.attribute-value--image {
  width: 100%;
  border: solid 1px;
}

.attribute-value--youtube-iframe {
  margin-top: 0.5rem;
  width: 100%;
  height: 400px;
}

.attribute-value--map-container {
  margin-top: 0.5rem;
  border: solid 1px;
  height: 500px;
  width: 100%;
}